{% extends 'admin/base.html' %}

{% load i18n %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
        </a>
    </h1>
{% endblock %}

{% load unfold %}

{% block content %}
    <div class="flex flex-col lg:flex-row lg:gap-8">
        <div class="flex-grow">
            <div class="flex flex-col lg:flex-row lg:gap-8">
                {% component "unfold/components/card.html" with class="mb-4" %}
                    <div class="flex-grow relative">
                        <p class="leading-relaxed mb-0 text-sm">
                            Atendimentos finalizados
                        </p>
                        <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark">
                            0
                        </div>
                    </div>
                {% endcomponent %}
                {% component "unfold/components/card.html" with class="mb-4" %}
                    <div class="flex-grow relative">
                        <p class="leading-relaxed mb-0 text-sm">
                            Atendimentos agendados
                        </p>
                        <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark">
                            0
                        </div>
                    </div>
                {% endcomponent %}
                {% component "unfold/components/card.html" with class="mb-4" %}
                    <div class="flex-grow relative">
                        <p class="leading-relaxed mb-0 text-sm">
                            Meus Clientes
                        </p>
                        <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark">
                            {{ count_clients_prof|default:0 }}
                        </div>
                    </div>
                {% endcomponent %}
            </div>

            {% component "unfold/components/card.html" with title="Próximos Aniversariantes" class="mb-4" %}
                {% component "unfold/components/table.html" with table=upcoming_birthdays_table card_included=1 striped=1 %}{% endcomponent %}
            {% endcomponent %}
        </div>

        <!-- <div class="flex-grow">
            {% include "unfold/helpers/app_list_default.html" %}
        </div> -->

        {% include "unfold/helpers/history.html" %}
    </div>
{% endblock %}
